# 4.6 Task

### *Merging Instacart Data*

In [3]:
#Import Libraries 

import pandas as pd
import numpy as py
import os

#### *Import Data sets*

In [4]:
#Create path
path = r'C:\Users\inesh\Instacart Basket Analysis_01_02_2024'

In [5]:
#Import product data

df_prods_clean = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'product_clean.csv'), index_col=False)

### *Q3: Import orders_products_combined.pkl*

In [6]:
#Import orders_products_combined data
orders_products_combined =pd.read_pickle(r'C:\Users\inesh\Instacart Basket Analysis_01_02_2024\02 Data\Prepared Data\orders_products_combined.pkl')

### *Q4: Check the shape of the imported dataframe*

In [7]:
orders_products_combined.shape

(32434489, 10)

In [8]:
# Same as the one exported from df_merged_large

### Q5: Combine the orders_products_combined dataframe with *products data set*.

In [9]:
orders_products_combined.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_from_last_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [10]:
df_prods_clean.shape

(49672, 6)

In [11]:
df_prods_clean.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

### *Merge two dataframes *df_prods_clean and orders_products_combined* as *ords_prods_merge**

In [17]:
ords_prods_merge = orders_products_combined.merge(df_prods_clean, on ='product_id', indicator = 'merge_indicator')

In [13]:
ords_prods_merge.shape

(32404859, 16)

### Q6 Confirm the results of the merge using the merge flag

In [14]:
print(ords_prods_merge['merge_indicator'].value_counts())

merge_indicator
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

In [15]:
ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_from_last_order,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0,product_name,aisle_id,department_id,prices,merge_indicator
0,2539329,1,1,2,8,NaN,196,1,0,both,195,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,196,1,1,both,195,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,196,1,1,both,195,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,196,1,1,both,195,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,196,1,1,both,195,Soda,77,7,9.0,both

### Q7 Export ords_prods_merge as pkl file into Prepared Data

In [16]:
ords_prods_merge.to_pickle(r'C:\Users\inesh\Instacart Basket Analysis_01_02_2024\02 Data\Prepared Data\ords_prods_merged.pkl')